.about-container {
    min-height: 100vh;
    .bg-about {
        height: 100%;
        width: 100%;
    }
    .h1-about {
        color: white;
    }
    
}


.skills-icons {
    img {
        height: auto;
        width: 5rem;   
    }
}