
// BIENVENIDA INICIO 

.bienvenida-inicio {
    display: none;
    @include min-1200 {
            display: flex;
            background-color: $tertiary-color;
            height: 100vh;
            width: 100vw;
            z-index: 9999;      
            img {
                height: 4rem;
                opacity: 0;
                animation: binicio-img 13s linear 4s;
                animation-fill-mode: forwards;
            }
            .inicio-pant0 {
                p{
                    font-family: 'Quicksand', sans-serif;
                    color: $primary-color;
                    font-size: 1.25rem;
                    opacity: 0;
                    animation: binicio-p 9s linear 6s;
                    animation-fill-mode: forwards;   
                }

            }

        .inicio-pant1 {
            opacity: 0;
            h3 {
                color: $primary-color;
                font-family: 'Quicksand', sans-serif;
                font-size: 5rem;
                @include min-576 {
                    font-size: 6.3rem;
                }
                @include min-1550 {
                    font-size: 10.5rem;
                }
            }
            animation: binicio-pant 3.9s linear 18.8s;
            animation-fill-mode: forwards;
        }
        .inicio-pant2 {
            opacity: 0;
            h4 {
                color: $primary-color;
                font-family: 'Quicksand', sans-serif;
                font-size: 5rem;
                @include min-576 {
                    font-size: 6.3rem;
                }
                @include min-1550 {
                    font-size: 10.5rem;
                }
                font-weight: light;
            }
            animation: binicio-pant 3.9s linear 23.4s;
            animation-fill-mode: forwards;
        }
        .inicio-pant3 {
            opacity: 0;
            h2 {
                .blink-effect {
                    display: block;
                    color: $primary-color;
                    font-family: monospace;
                    white-space: nowrap;
                    border-right: 4px solid;
                    width: 57ch;
                    animation: typing 4s steps(57), blink .4s infinite step-end alternate;
                    animation-delay: 27.5s;
                    overflow:hidden;
                }
            }
            animation: binicio-pant 8s linear 28s;
            animation-fill-mode: forwards;
        }
        .inicio-pant4 {
            p{        
                font-family: 'Quicksand', sans-serif;
                color: $primary-color;
                font-size: 1.25rem;
                opacity: 0;
                animation: binicio-pant 5s linear 37s;
                animation-fill-mode: forwards;
            }
        }
        animation: bienvenida-inicio 2s linear 42s;
        animation-fill-mode: forwards;
    }
        
}


@keyframes binicio-img {
    
    0% {
        opacity: 0;
    }
    7% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }   
    100% {
        opacity: 0;
        z-index: -40;
    }

}

@keyframes binicio-p {
    
    0% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    89% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -40;
    }
}

@keyframes binicio-pant {
    0%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -40;
    }


}


@keyframes bienvenida-inicio {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        z-index: -50;
    }
}


.bienvenida-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenida-loader {
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

// BIENVENIDA GENÉRICA

.bienvenida-generic {
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: $tertiary-color;
    .loader {
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
    .babout-container {
        .h1-generic {
            .sabout1 {
                opacity: 0;
                animation: span-generic 0.1s linear 2s forwards;
                color:$secondary-color;
            }
            .sabout2 {
                opacity: 0;
                animation: h1-generic 0.1s linear 2.8s forwards;
                color: $primary-color;
            }
            font-weight: 650;
            font-size: 2.3rem;
            @include min-768 {
                font-size: 3.2rem;
            }
            @include min-992 {
                font-size: 2.7rem;
            }
            @include min-1200 {
                font-size: 4rem;
            }
            @include min-1920 {
                font-size: 5.2rem;
            }
        } 
    }

}

.subray {
    background-color: $quaternary-color;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 4px;
    width: 0;
    animation: subray 0.8s ease 3.4s forwards;

}


@keyframes subray {
    from {
        width: 0
    }
    to {
        width: 7.5ch;
    }
}

@keyframes span-generic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes h1-generic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



// BIENVENIDA educacion

.speducation1 {
    opacity: 0;
    animation: h1-generic 0.1s linear 2s forwards;
    color:$secondary-color;
}

.speducation2 {
    opacity: 0;
    animation: span-generic 0.1s linear 2.8s forwards;
    color: $primary-color;
}

.services-botline {
    height: 2.5rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    background-color: $primary-color;
    opacity: 0;
}

.services-botline1 {
    animation: bservices-pops 0.3s linear 3.1s forwards;
}

.services-botline2 {
    animation: bservices-pops 0.3s linear 3.4s forwards;
}

.services-botline3 {
    animation: bservices-pops 0.3s linear 3.7s forwards;
}

.services-botline4 {
    animation: bservices-pops 0.3s linear 4s forwards;
}

.services-botline5 {
    animation: bservices-pops 0.3s linear 4.3s forwards;
}

.services-botline6 {
    animation: bservices-pops 0.3s linear 4.6s forwards;
}

@keyframes bservices-pops {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    55% {
        transform: scale(1.15);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


// BIENVENIDA PORTFOLIO

.loading-card {
    height: 450px;
    width: 450px;
    border-radius: 0px 0px 40px 40px;

    .loading-botcard{
        width: 100%;
        height: 40%;
        border-radius: 0px 0px 40px 40px;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .botcard-lines {
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 40px 40px;
        margin: 0;
        padding: 0;
    }

    .botcard-startline{
        width: 100%;
        height: 0;
        opacity: 0;
        border-radius: 0px 0px 40px 40px;
        border-left-color: $secondary-color;
        border-left-width: 5px;
        border-left-style: solid;
        animation: bot-xtline 1.5s ease 4s forwards;

        @keyframes bot-xline {
            0% {
                height: 0;
                opacity: 0;
                border-radius: 0px 0px 0px 0px;
            }
            5% {
                opacity: 1;
            }
            37% {
                border-radius: 0px;
            }
            100% {
                height: 100%;
                opacity: 1;
                border-radius: 0px 0px 40px 40px;
            }
        }

    }

    .botcard-endline{
        width: 100%;
        height: 0;
        opacity: 0;
        border-radius: 0px 0px 40px 40px;
        border-right-color: $secondary-color;
        border-right-width: 5px;
        border-right-style: solid;
        animation: bot-xline 1.5s ease 4s forwards;

        @keyframes bot-xtline {
            0% {
                height: 0;
                opacity: 0;
                border-radius: 0px 0px 0px 0px;
            }
            5% {
                opacity: 1;
            }
            37% {
                border-radius: 0px;
            }
            100% {
                height: 100%;
                opacity: 1;
                border-radius: 0px 0px 40px 40px;
            }
        }
    }

    .botcard-botline {
        height: 100%;
        width: 0;
        opacity: 0;
        background-color: $tertiary-color;
        border-radius: 0px 0px 40px 40px;
        border-bottom-color: $secondary-color;
        border-bottom-width: 2px;
        border-style: solid;
        animation: bot-botline 1.5s ease 2.5s forwards;

        @keyframes bot-botline {
            0% {
                width: 0;
                opacity: 0;
            }
            5% {
                opacity: 1;
            }
            100% {
                height: 100%;
                width: 100%;
                opacity: 1;
            }
        }
    }

    .loading-topcard {
        height: 60%;
        width: 100%;
        top: 0;
        .topcard-lines {
            height: 100%;
            width: 100%;
            .topcard-botline{
                bottom: 0;
                height: 5px;
                width: 0;
                background-color: $secondary-color;
                animation: top-botline 1.5s ease 4.25s forwards;

                @keyframes top-botline {
                    from {
                        width: 0;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
            .topcard-startline {
                left: 0;
                bottom: 0;
                height: 100%;
                width: 4px;
                .dash-line {
                    width: 100%;
                    height: 0;
                    background-color: $primary-color;
                    margin-bottom: 1rem;
                }
                .dash-line1 {
                    animation: dashlineY 0.175s linear 5.7s forwards;
                }
                .dash-line2 {
                    animation: dashlineY 0.175s linear 5.925s forwards;
                }
                .dash-line3 {
                    animation: dashlineY 0.175s linear 6.15s forwards;
                }
                .dash-line4 {
                    animation: dashlineY 0.175s linear 6.375s forwards;
                }
                .dash-line5 {
                    animation: dashlineY 0.175s linear 6.6s forwards;
                }
                .dash-line6 {
                    animation: dashlineY 0.175s linear 6.825s forwards;
                }                
            }
            .topcard-endline {
                right: 0;
                height: 100%;
                width: 4px;
                .dash-line {
                    width: 100%;
                    height: 0;
                    background-color: $primary-color;
                    margin-bottom: 1rem;
                }
                .dash-line17 {
                    animation: dashlineY 0.175s linear 5.7s forwards;
                }
                .dash-line18 {
                    animation: dashlineY 0.175s linear 5.925s forwards;
                }
                .dash-line19 {
                    animation: dashlineY 0.175s linear 6.15s forwards;
                }
                .dash-line20 {
                    animation: dashlineY 0.175s linear 6.375s forwards;
                }
                .dash-line21 {
                    animation: dashlineY 0.175s linear 6.6s forwards;
                }
                .dash-line22 {
                    animation: dashlineY 0.175s linear 6.825s forwards;
                }            
            }
            .topcard-topline {
                top: 0;
                height: 4px;
                width: 100%;
                .dash-line {
                    width: 0;
                    height: 100%;
                    background-color: $primary-color;
                }
                .dash-lineB {
                    width: 0;
                    height: 100%;
                    background-color: $primary-color;
                    margin-left: 1.2rem;
                }
                .dash-line7 {
                    animation: dashlineX 0.1125s linear 5.7s forwards;
                }
                .dash-line8 {
                    animation: dashlineX 0.1125s linear 5.8125s forwards;
                }
                .dash-line9 {
                    animation: dashlineX 0.1125s linear 5.925s forwards;
                }
                .dash-line10 {
                    animation: dashlineX 0.1125s linear 6.0375s forwards;
                }
                .dash-line11 {
                    animation: dashlineX 0.1125s linear 6.15s forwards;
                }
                .dash-line12 {
                    animation: dashlineX 0.1125s linear 6.2625s forwards;
                } 
                .dash-line13 {
                    animation: dashlineX 0.1125s linear 6.375s forwards;
                }
                .dash-line14 {
                    animation: dashlineX 0.1125s linear 6.4875s forwards;
                }
                .dash-line15 {
                    animation: dashlineX 0.1125s linear 6.6s forwards;
                }
                .dash-line16 {
                    animation: dashlineX 0.1125s linear 6.825s forwards;
                }      
            }
        }
    }
    transform: scale(0.6);
    @include min-1550 {
        transform: scale(0.85);
    }
    @include min-1920 {
        transform: scale(1.2);
    }
    animation: loading-portfolio 0.8s ease 7.25s forwards;
    @keyframes loading-portfolio {
        from {
            transform: scale(0.6);
        }
        to {
            transform: scale(0.8);
        }
    }
    @include min-576 {
        @keyframes loading-portfolio {
            from {
                transform: scale(0.6);
            }
            to {
                transform: scale(1);
            }
        }
    }
    @include min-1550 {
        @keyframes loading-portfolio {
            from {
                transform: scale(0.85);
            }
            to {
                transform: scale(1.4);
            }            
        }
    }
    @include min-1920 {
        @keyframes loading-portfolio {
            from {
                transform: scale(1.2);
            }
            to {
                transform: scale(1.6);
            }
        }
    }

}

.h1-bportfolio1 {
    color: $secondary-color !important; 
    opacity: 0;
    animation: h1-generic 0.1s linear 8.95s forwards;
    font-weight: 650;
    font-size: 2.3rem;
    @include min-576 {
        font-size: 3rem;
    }
}

.h1-bportfolio2 {
    opacity: 0;
    animation: span-generic 0.1s linear 9.75s forwards;
    font-weight: 650;
    font-size: 2.3rem;
    color: $primary-color;
    @include min-576 {
        font-size: 3rem;
    }
}

@keyframes dashlineY {
    0% {
        height: 0;
    }
    100% {
        height: 29px;
    }
}

@keyframes dashlineX {
    0% {
        width: 0;
    }
    100% {
        width: 27.73px;
    }
    
}

.topcard-example-container {
    height: 80%;
    width: 80%;
    border-color: $primary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    .topcard-example {
        height: 100%;
        width: 100%;
        .example-line-container {
            height: 150%;
            width: 150%;
        }
    }
    opacity: 0;
    animation: example-container 0.7s ease 7.45s forwards;
    @keyframes example-container {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.example-line-container2 {
    height: 100%;
    width: 100%;
}

.example-line1 {
    background-color: $primary-color;
    height: 0;
    width: 2px;
    transform: rotate(50deg);
    @include min-576 {
        transform: rotate(60deg);
    }
    animation: example-line 0.7s ease 8.15s forwards;
}

.example-line2 {
    background-color: $primary-color;
    height: 0;
    width: 2px;
    transform: rotate(-50deg);
    @include min-576 {
        transform: rotate(-60deg);
    }
    animation: example-line 0.7s ease 8.15s forwards;
}

@keyframes example-line {
    0% {
        height: 0;
    }
    100% {
        height: 80%;
    }
}

@include min-576 {
    @keyframes example-line {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }
}