
// BIENVENIDA INICIO 

.bienvenida-inicio {
    display: none;
    @include min-1200 {
            display: flex;
            background-color: $tertiary-color;
            height: 100vh;
            width: 100vw;
            z-index: 9999;      
            img {
                height: 4rem;
                opacity: 0;
                animation: binicio-img 13s linear 4s;
                animation-fill-mode: forwards;
            }
            .inicio-pant0 {
                p{
                    font-family: 'Quicksand', sans-serif;
                    color: $primary-color;
                    font-size: 1.25rem;
                    opacity: 0;
                    animation: binicio-p 9s linear 6s;
                    animation-fill-mode: forwards;   
                }

            }

        .inicio-pant1 {
            opacity: 0;
            h3 {
                color: $primary-color;
                font-family: 'Quicksand', sans-serif;
                font-size: 5rem;
                @include min-576 {
                    font-size: 6.3rem;
                }
                @include min-1550 {
                    font-size: 10.5rem;
                }
            }
            animation: binicio-pant 3.9s linear 18.8s;
            animation-fill-mode: forwards;
        }
        .inicio-pant2 {
            opacity: 0;
            h4 {
                color: $primary-color;
                font-family: 'Quicksand', sans-serif;
                font-size: 5rem;
                @include min-576 {
                    font-size: 6.3rem;
                }
                @include min-1550 {
                    font-size: 10.5rem;
                }
                font-weight: light;
            }
            animation: binicio-pant 3.9s linear 23.4s;
            animation-fill-mode: forwards;
        }
        .inicio-pant3 {
            opacity: 0;
            h2 {
                .blink-effect {
                    display: block;
                    color: $primary-color;
                    font-family: monospace;
                    white-space: nowrap;
                    border-right: 4px solid;
                    width: 57ch;
                    animation: typing 4s steps(57), blink .4s infinite step-end alternate;
                    animation-delay: 27.5s;
                    overflow:hidden;
                }
            }
            animation: binicio-pant 8s linear 28s;
            animation-fill-mode: forwards;
        }
        .inicio-pant4 {
            p{        
                font-family: 'Quicksand', sans-serif;
                color: $primary-color;
                font-size: 1.25rem;
                opacity: 0;
                animation: binicio-pant 5s linear 37s;
                animation-fill-mode: forwards;
            }
        }
        animation: bienvenida-inicio 2s linear 42s;
        animation-fill-mode: forwards;
    }
        
}


@keyframes binicio-img {
    
    0% {
        opacity: 0;
    }
    7% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }   
    100% {
        opacity: 0;
        z-index: -40;
    }

}

@keyframes binicio-p {
    
    0% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    89% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -40;
    }
}

@keyframes binicio-pant {
    0%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -40;
    }


}


@keyframes bienvenida-inicio {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        z-index: -50;
    }
}


.bienvenida-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenida-loader {
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

// BIENVENIDA GENÉRICA

.bienvenida-generic {
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: $tertiary-color;
    .loader {
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
    .babout-container {
        .h1-generic {
            .sabout1 {
                opacity: 0;
                animation: span-generic 0.1s linear 2s forwards;
                color:$secondary-color;
            }
            .sabout2 {
                opacity: 0;
                animation: h1-generic 0.1s linear 2.8s forwards;
                color: $primary-color;
            }
            font-weight: 650;
            font-size: 2.3rem;
            @include min-768 {
                font-size: 3.2rem;
            }
            @include min-992 {
                font-size: 2.7rem;
            }
            @include min-1200 {
                font-size: 4rem;
            }
            @include min-1920 {
                font-size: 5.2rem;
            }
        } 
    }

}

.subray {
    background-color: $quaternary-color;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 4px;
    width: 0;
    animation: subray 0.8s ease 3.4s forwards;

}


@keyframes subray {
    from {
        width: 0
    }
    to {
        width: 7.5ch;
    }
}

@keyframes span-generic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes h1-generic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



// BIENVENIDA educacion

.speducation1 {
    opacity: 0;
    animation: h1-generic 0.1s linear 2s forwards;
    color:$secondary-color;
}

.speducation2 {
    opacity: 0;
    animation: span-generic 0.1s linear 2.8s forwards;
    color: $primary-color;
}
