
.nav-button-custom {
    border: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}

.offcanvas-custom {
    width: 100vw !important;
    transition: all ease 0.4s !important;
    // background: rgba(0, 0, 0, 0) !important;
    // backdrop-filter: blur(16.7px) !important;
    // -webkit-backdrop-filter: blur(16.7px) !important;
    background: $primary-color !important;
}

.canvas-btn-custom {
    border: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}

.nav-link {
    font-size: 2rem !important;
    @include min-1400 {
        font-size: 2.7rem !important;
    }
    font-family: 'Quicksand', sans-serif !important;
    opacity: 0.7 !important; 
    color: #1F2421 !important;
    &:hover {
        opacity: 0.917 !important;
    }
    cursor: pointer !important;
}

.offcanvas-title {
    font-family: 'Sacramento', cursive !important;
    font-size: 1.8rem;
    @include min-768 {
        font-size: 2.5rem;
    }
    @include min-1920 {
        font-size: 3.5rem;
    }

}

.active {
    color: #000000 !important;
    opacity: 1 !important;
}

.navbar-toggler-icon {
    width: 2.3em !important;
    height: 2.3em !important;
}

.btn-close {
    display: inline-block !important;
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: middle !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
    border: none !important;
    --bs-btn-close-focus-shadow: 0 !important;
}

.offcanvas-backdrop {
    background-color: transparent !important;
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

.offcanvas-backdrop.fade {
    opacity: 0 !important;
}
