
.nav-button-custom {
    border: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}

.offcanvas-custom {
    width: 100vw !important;
    transition: all ease 0.4s !important;
    .offcanvas-body {
        background: rgba(0, 0, 0, 0) !important;
        backdrop-filter: blur(16.7px) !important;
        -webkit-backdrop-filter: blur(16.7px) !important;
    }
    .offcanvas-header {
        background: rgba(0, 0, 0, 0) !important;
        backdrop-filter: blur(16.7px) !important;
        -webkit-backdrop-filter: blur(16.7px) !important;
    }

}

.canvas-btn-custom {
    border: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}

.nav-link {
    font-size: 2rem !important;
}

.navbar-toggler-icon {
    width: 2.3em !important;
    height: 2.3em !important;
}

.btn-close {
    display: inline-block !important;
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: middle !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
    border: none !important;
    --bs-btn-close-focus-shadow: 0 !important;
}

