
.nav-button-custom {
    border: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}

.offcanvas-custom {
    width: 100vw !important;
    transition: all ease-in 0.4s !important;
}