
.services-bgcolor {
    background-color: $tertiary-color;
    min-height: 100vh;
}

.services-h1 {
    color: $secondary-color;
    font-weight: 650;
    font-size: 2.3rem;
    @include min-768 {
        font-size: 3.2rem;
    }
    @include min-992 {
        font-size: 2.7rem;
    }
    @include min-1200 {
        font-size: 4rem;
    }
    @include min-1920 {
        font-size: 5.2rem;
    }
    span {
        color: $tertiary-color;
    }
}

.service-icon {
    height: 6.5rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    background-color: $primary-color;
}

.services-container {
    min-height: 100vh;
}

.services-row_custom {
    min-height: 100vh;
    z-index: 200;
    background-color: $tertiary-color;
}

.services-col_custom-2 {
    min-height: 100vh;
    background-color: $primary-color;
}

.bg-bars {
    height: 100vh;
    width: calc((100vw - 1140px) / 2);
    background-color: $primary-color;
    z-index: -3;
}

.services-popup-container {
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(((100vw - 1140px) / 2) + 380px);
    background: rgba(219, 217, 219, 0.19);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    padding-top: 70px !important;
    z-index: 5;
    margin-left: calc(((100vw - 1140px) / 2) + 381px);
    transition: all ease 0.70s;
    &:target {
        transition:all ease 0.70s;
        margin-left: 0;
    }
}

