
.services-bgcolor {
    background-color: $tertiary-color;
    min-height: 100vh;
    overflow-x: hidden !important;
    max-width: 100vw;
    @include min-768 {
        overflow: hidden !important;
    }
}

.services-h1 {
    color: $secondary-color;
    font-weight: 650;
    font-size: 2.3rem;
    @include min-768 {
        font-size: 3.2rem;
    }
    @include min-992 {
        font-size: 3.5rem;
    }
    @include min-1200 {
        font-size: 3.8rem;
    }
    @include min-1400 {
        font-size: 4.2rem;
    }
    @include min-1920 {
        font-size: 5.2rem;    
        padding-right: 3rem !important;
        margin-right: 3rem !important;
    }
    span {
        color: $primary-color;
        @include min-768 {
            color: $tertiary-color;
        }
    }

}

.service-icon {
    height: 5.5rem;
    @include min-992 {
        height: 6.5rem;
    }
    @include min-1400 {
        height: 7.86rem;
    }
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
    background-color: $primary-color;
}

.services-container {
    @include min-768 {
        min-height: 100vh;
    }
}

.services-row_custom,
.services-row_custom2 {
    min-height: calc(100vh - 100.16px);
    @include min-768 {
        min-height: 100vh;        
    }
    z-index: 200;
    background-color: $tertiary-color;
}

.services-col_custom-2 {
    @include min-768 {
        min-height: 100vh;         
        background-color: $primary-color;
        z-index: 0;
    } 
    color: $tertiary-color;  
    @include min-768 {
        box-shadow: -101px 0px 63px -44px rgba(0,0,0,0.3) inset;        
    }
}
.bg-bars {
    visibility: hidden;
    @include min-768 {
        visibility: visible;
        width: calc((100vw - 720px) / 2);
    }
    @include min-992 {
        width: calc((100vw - 960px) / 2);
    }
    @include min-1200 {
        width: calc((100vw - 1140px) / 2);
    }
    @include min-1400 {
        width: calc((100vw - 1320px) / 2);
    }
    height: 100vh;
    background-color: $primary-color;
    z-index: 0;
}

.services-popup-container {
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $primary-color;
    margin-left: 101vw;
    width: 100vw;
    z-index: 9999;
    @include min-768 {  
        width: calc(((100vw - 720px) / 2) + 300px);
        margin-left: calc(((100vw - 720px) / 2) + 301px);
        z-index: 5 !important;    
    }
    @include minmax-959 {
        width: 419px;
    }
    @include min-992 {
        width: calc(((100vw - 960px) / 2) + 400px);
        margin-left: calc(((100vw - 960px) / 2) + 401px);

    }
    @include min-1200 {
        width: calc(((100vw - 1140px) / 2) + 380px);
        margin-left: calc(((100vw - 1140px) / 2) + 381px);

    }
    @include min-1400 {
        width: calc(((100vw - 1320px) / 2) + 440px);
        margin-left: calc(((100vw - 1320px) / 2) + 441px);

    }
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    transition: all ease 0.70s;
    &:target {
        transition:all ease 0.70s;
        margin-left: 0;
    }
    p {
        font-family: 'Quicksand', sans-serif;
        @include min-1920 {
            font-size: 1.7rem;            
        }
    }
    h3 {
        font-family: 'Comfortaa', cursive;
        @include min-1920 {
            font-size: 2.5rem;            
        }
    }
}

.nav-services-custom {
    top: 0 !important;
    right: 0 !important;
    width: 150px;
    z-index: 9000;
}

