.nav-button-custom {
  border: 0 !important;
  background-color: transparent !important;
  color: transparent !important; }

.offcanvas-custom {
  width: 100vw !important;
  transition: all ease 0.4s !important; }
  .offcanvas-custom .offcanvas-body {
    background-color: #202020 !important; }
  .offcanvas-custom .offcanvas-header {
    background-color: #202020 !important; }

.canvas-btn-custom {
  border: 0 !important;
  background-color: transparent !important;
  color: transparent !important; }

.nav-link {
  font-size: 2rem !important; }

.inicio {
  height: 100vh;
  position: relative;
  overflow: hidden !important; }
  .inicio .textos-bienvenida {
    color: #4ce2b5;
    text-align: left; }
    .inicio .textos-bienvenida h1 .span-h1_1 {
      font-weight: lighter;
      font-size: 2rem; }
    .inicio .textos-bienvenida h1 .span-h1_2 {
      font-size: 2rem;
      font-weight: bolder; }
    .inicio .textos-bienvenida h2 {
      font-size: 0.9rem; }
    .inicio .textos-bienvenida h3 {
      font-size: 5rem; }
  .inicio .video-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .inicio .capa-inicio {
    position: relative !important;
    z-index: 2; }
  .inicio .blink-effect {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 35ch;
    animation: typing 2s steps(35), blink 0.4s infinite step-end alternate;
    animation-delay: 3s;
    overflow: hidden; }

@media (max-width: 576px) {
  .eph-inicio-sm {
    display: none; } }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }
